html
    head
        title My page title
        link(rel="stylesheet"
             href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
             integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
             crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js")
        script(src="https://cdn.jsdelivr.net/npm/vue-resource@1.4.0")
    body
        div.container#app
            new-task(@addtask="addNewTask")
            task-list(:tasks="tasks")
        div.container
            if user
                h1 Hi #{user.username}
            block body
                p Default body
        script(src="/app.js")
