html
    head
        title My page title
    body
        div.container
            if user
                h1 Hi #{user.username}
            block body
                p Default body
        div.container#app
            register
            //- new-task(@addtask="addNewTask")
            //- task-list(:tasks="tasks")
            //- p {{ user }}
        script(src="/bundle.js")
